@import "../../../global/global";
.header {
  width: 80%;
  height: 70px;
  border-bottom: 2px solid $primary-color-dark-light;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 1rem;
  position: relative;
  h1 {
    color: white;
  }
  button {
    @include button-style(1);
  }
  button:hover {
    background-color: $primary-color;
  }

  .right {
    display: flex;
    .applied {
      margin-right: 2rem;
      color: rgb(168, 168, 168);
    }
    .avatar {
      width: 40px;
      height: 40px;
      background-color: $primary-color-dark-light;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      p {
        margin-bottom: 0.7rem;
      }
    }

    .logout {
      background-color: white;
      color: $primary-color;
    }
  }
}
