@import "../../../global/global";
.header {
  width: 80%;
  height: 70px;
  border-bottom: 2px solid $primary-color-dark-light;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 1rem;
  h1 {
    color: white;
  }
  button {
    @include button-style(1);
  }
  button:hover {
    background-color: $primary-color;
  }
}
